<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Designs/style.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <h1 class="logo">MyLibraria!</h1>
        <form>
            <input type="Text" title="tx_search" placeholder="Busque aqui!">
        </form>
        <Button type="submit" title="buscar"></Button>
        <nav>
            <ul>
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="">Compras</a>
                </li>
                <li>
                    <a href="">Vendas</a>
                </li>
                <li>
                    <a href="">Trocas</a>
                </li>
                <li>
                    <a href="">Cadastro</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="sc1">
            <div>
                <sub>Bem vindo a MyLibreria!</sub>
                <p> MyLibraria é uma plataforma que permite que seus usuarios se cadastrem 
                    e registrem seus livros, para que possam realizar compras, vendas ou trocas.
                    Alem disso a plataform MyLibraria permite aos usuarios compartilharem
                    suas experiencias com diferentes obras literarias, e avaliarem esses livros
                    de forma a ajudar a responder as duvidas de outros usuarios sobre diferentes
                    obras.
                </p>
            </div>
        </section>
        <section id = "sc2">
            <h2>Mais acessados</h2>
            <div class="dv2">
                <label class="lb1">Harry Potter e a Ordem da Fenix</label>
                <img class="hp5" src="./Images/81d6ESyPZwL.jpg" title="">
                <span class="autor">Autor: J.K Rowling</span>
                <span class="preco">R$57,90</span>
                <button class="btn2" >Comprar</button>
            </div>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>